In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#windows
citycrime= pd.read_csv('C:\\Pri doc\\priti\\Projects\\Myproject\\Berkely\\My class projects data\\california-crime-and-law-enforcement\\ca_offenses_by_city.csv')

In [3]:
citycrime.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278
4,Alhambra3,86175,168,1,13,74,80,"1,929",305,"1,413",211,6,4200

In [4]:
citycrime.dropna(axis=1, how='all')

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278
4,Alhambra3,86175,168,1,13,74,80,"1,929",305,"1,413",211,6,4200
5,Aliso Viejo,50751,32,0,5,3,24,363,53,276,34,1,791
6,Alturas3,2566,35,0,13,2,20,61,9,48,4,4,196
7,American Canyon3,20687,58,1,7,21,29,634,97,493,44,2,1386
8,Anaheim3,349471,"1,271",18,129,439,685,"10,038","1,476","6,893","1,669",28,22646
9,Anderson,10277,88,0,4,9,75,474,60,358,56,2,1126
10,Antioch,110537,771,7,53,280,431,"3,912",862,"2,026","1,024",36,9402
11,Apple Valley,72173,234,1,15,50,168,"1,878",427,"1,187",264,14,4238
12,Arcadia,58694,68,1,6,31,30,"1,272",316,892,64,3,2683
13,Arcata3,17789,54,2,7,11,34,670,160,443,67,18,1466
14,Arroyo Grande3,18071,35,0,2,6,27,418,83,299,36,0,906
15,Artesia,16988,84,0,2,30,52,468,99,258,111,3,1107
16,Arvin,20902,149,3,1,14,131,457,143,201,113,16,1228
17,Atascadero3,29316,90,0,11,15,64,475,119,323,33,5,1135
18,Atherton,7205,3,0,1,2,0,86,30,54,2,1,179
19,Atwater,29219,197,3,8,26,160,"1,099",167,757,175,10,2602
20,Auburn,14118,45,0,2,7,36,260,56,178,26,0,610
21,Avalon,3820,12,0,2,1,9,56,12,39,5,0,136
22,Avenal3,12859,25,2,1,4,18,196,58,118,20,0,442
23,Azusa,49431,173,2,13,49,109,"1,212",232,784,196,7,2777
24,Bakersfield,373887,"1,810",22,71,655,"1,062","15,559","3,877","9,288","2,394",339,35077
25,Baldwin Park3,77538,299,1,34,77,187,"1,442",243,868,331,5,3487
26,Banning,31030,197,8,29,29,131,608,248,221,139,0,1610
27,Barstow,23700,283,2,12,70,199,"1,037",447,408,182,15,2655
28,Bear Valley3,5428,5,1,1,0,3,67,4,63,0,0,144
29,Beaumont,43626,138,1,17,21,99,887,157,582,148,4,2054
...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,Villa Park,6002,1,0,0,1,0,83,34,47,2,0,168
431,Visalia,130405,608,6,106,130,366,"3,995",814,"2,621",560,11,9217
432,Vista,99097,343,2,37,95,209,"1,989",344,"1,328",317,6,4670
433,Walnut,30469,31,1,1,17,12,322,143,157,22,2,708
434,Walnut Creek,68530,91,1,2,28,60,"2,540",342,"1,960",238,4,5266
435,Waterford3,8800,13,0,0,0,13,124,31,60,33,0,274
436,Watsonville,53581,303,4,33,104,162,"1,930",254,"1,261",415,4,4470
437,Weed,2836,31,1,3,4,23,115,23,83,9,0,292
438,West Covina,109030,263,2,13,99,149,"2,982",400,"2,095",487,10,6500
439,West Hollywood,36256,280,2,19,90,169,"1,400",209,"1,102",89,11,3371
440,Westlake Village,8522,6,0,2,2,2,195,47,142,6,1,403
441,Westminster,92640,303,1,22,118,162,"2,950",502,"2,123",325,6,6512
442,Westmorland3,2278,5,0,0,3,2,7,5,2,0,0,24
443,West Sacramento,52622,311,2,21,90,198,"1,457",256,"1,030",171,6,3542
444,Wheatland,3482,1,0,0,0,1,59,14,34,11,0,120
445,Whittier3,87807,238,1,18,90,129,"2,531",319,"1,797",415,11,5549
446,Wildomar,36154,39,0,7,8,24,619,143,353,123,0,1316
447,Williams3,5205,10,0,1,2,7,70,14,43,13,4,164
448,Willits,4856,66,0,4,2,60,64,15,34,15,2,262
449,Willows,6074,40,0,5,4,31,190,24,148,18,2,462
450,Windsor,27565,85,0,9,16,60,352,35,300,17,5,879
451,Winters,7023,24,0,2,1,21,111,17,80,14,1,271
452,Woodlake3,7751,39,2,1,3,33,134,32,87,15,2,348
453,Woodland,57911,265,1,16,51,197,"1,798",326,"1,230",242,15,4141
454,Yorba Linda,68698,39,0,7,7,25,650,152,463,35,1,1379
455,Yountville3,3030,7,0,0,0,7,46,7,36,3,0,106
456,Yreka,7507,47,1,4,4,38,309,85,188,36,1,713
457,Yuba City,65974,216,0,28,66,122,"1,792",429,"1,160",203,14,4030
458,Yucaipa,53498,94,2,8,22,62,"1,309",263,838,208,12,2818
459,Yucca Valley,21672,151,0,8,30,113,664,217,381,66,8,1638

In [5]:
citycrime.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278
4,Alhambra3,86175,168,1,13,74,80,"1,929",305,"1,413",211,6,4200

In [52]:
citycrime['Crime_rate']= round((citycrime['TotalCrime']/citycrime['Population'])*100000,0)
#citycrime['Crime_rate']= (citycrime['TotalCrime']/citycrime['Population'])

In [53]:
citycrime.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime,Crime_rate
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064,6254.0
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650,3100.0
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952,5027.0
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278,6480.0
4,Alhambra3,86175,168,1,13,74,80,"1,929",305,"1,413",211,6,4200,4874.0

In [42]:
import chardet
with open('C:\\Pri doc\\priti\\Projects\\Myproject\\Berkely\\My class projects data\\california-crime-and-law-enforcement\\PritiCitiPopulation.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

citypopulation=pd.read_csv('C:\\Pri doc\\priti\\Projects\\Myproject\\Berkely\\My class projects data\\california-crime-and-law-enforcement\\PritiCitiPopulation.csv', encoding=result['encoding'])

In [9]:
citypopulation.head()

    County        City  Population
0  Alameda     Alameda     73812.0
1  Alameda      Albany     18539.0
2  Alameda    Berkeley    112580.0
3  Alameda      Dublin     46036.0
4  Alameda  Emeryville     10080.0

In [10]:
citypopulation.dtypes

County         object
City           object
Population    float64
dtype: object

In [11]:
citypopulation.dropna(axis=0, how='all')

           County             City  Population
0         Alameda          Alameda     73812.0
1         Alameda           Albany     18539.0
2         Alameda         Berkeley    112580.0
3         Alameda           Dublin     46036.0
4         Alameda       Emeryville     10080.0
5         Alameda          Fremont    214089.0
6         Alameda          Hayward    144186.0
7         Alameda        Livermore     80968.0
8         Alameda           Newark     42573.0
9         Alameda          Oakland    390724.0
10        Alameda         Piedmont     10667.0
11        Alameda       Pleasanton     70285.0
12        Alameda      San Leandro     84950.0
13        Alameda       Union City     69516.0
14         Alpine           Alpine      1175.0
15         Amador      Amador City       185.0
16         Amador             Ione      7918.0
17         Amador          Jackson      4651.0
18         Amador         Plymouth      1005.0
19         Amador     Sutter Creek      2501.0
20          Butte            Biggs      1707.0
21          Butte            Chico     86187.0
22          Butte          Gridley      6584.0
23          Butte         Oroville     15546.0
24          Butte         Paradise     26218.0
25      Calaveras           Angels      3836.0
26         Colusa           Colusa      5971.0
27         Colusa         Williams      5123.0
28   Contra Costa          Antioch    102372.0
29   Contra Costa        Brentwood     51481.0
..            ...              ...         ...
464        Sutter        Yuba City     64925.0
465        Tehama          Corning      7663.0
466        Tehama        Red Bluff     14076.0
467        Tehama           Tehama       418.0
468       Trinity              NaN     13786.0
469        Tulare           Dinuba     21453.0
470        Tulare           Exeter     10334.0
471        Tulare     Farmersville     10588.0
472        Tulare          Lindsay     11768.0
473        Tulare      Porterville     54165.0
474        Tulare           Tulare     59278.0
475        Tulare          Visalia    124442.0
476        Tulare         Woodlake      7279.0
477      Tuolumne           Sonora      4903.0
478       Ventura        Camarillo     65201.0
479       Ventura         Fillmore     15002.0
480       Ventura         Moorpark     34421.0
481       Ventura             Ojai      7461.0
482       Ventura           Oxnard    197899.0
483       Ventura     Port Hueneme     21723.0
484       Ventura      Santa Paula     29321.0
485       Ventura      Simi Valley    124237.0
486       Ventura    Thousand Oaks    126683.0
487       Ventura          Ventura    106433.0
488          Yolo            Davis     65622.0
489          Yolo  West Sacramento     48744.0
490          Yolo          Winters      6624.0
491          Yolo         Woodland     55468.0
492          Yuba       Marysville     12072.0
493          Yuba        Wheatland      3456.0

[494 rows x 3 columns]

In [ ]:
citypopulation['Population']=citypopulation['Population'].fillna(0).astype(int)

In [49]:
citypopulation.head()

    County        City  Population
0  Alameda     Alameda     73812.0
1  Alameda      Albany     18539.0
2  Alameda    Berkeley    112580.0
3  Alameda      Dublin     46036.0
4  Alameda  Emeryville     10080.0

In [54]:
#merge city and county population data
city_crime_merged_data = pd.merge(citycrime,citypopulation,on='City')

In [55]:
city_crime_merged_data.head()

,City,Population_x,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime,Crime_rate,County,Population_y
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064,6254.0,San Bernardino,31765.0
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650,3100.0,Los Angeles,20330.0
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952,5027.0,Alameda,73812.0
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278,6480.0,Alameda,18539.0
4,Aliso Viejo,50751,32,0,5,3,24,363,53,276,34,1,791,1559.0,Orange,47823.0

In [56]:
#del city_crime_merged_data['Population_y']

city_crime_merged_data = city_crime_merged_data.drop('Population_y', axis=1)

In [57]:
city_crime_merged_data.head()

,City,Population_x,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime,Crime_rate,County
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064,6254.0,San Bernardino
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650,3100.0,Los Angeles
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952,5027.0,Alameda
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278,6480.0,Alameda
4,Aliso Viejo,50751,32,0,5,3,24,363,53,276,34,1,791,1559.0,Orange

In [58]:
city_crime_merged_data.rename(columns={'Population_x': 'Population'}, inplace=True)

In [59]:
city_crime_merged_data.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime,Crime_rate,County
0,Adelanto,33005,212,2,14,48,148,808,434,254,120,24,2064,6254.0,San Bernardino
1,Agoura Hills,20970,15,0,1,6,8,310,82,217,11,0,650,3100.0,Los Angeles
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952,5027.0,Alameda
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278,6480.0,Alameda
4,Aliso Viejo,50751,32,0,5,3,24,363,53,276,34,1,791,1559.0,Orange

In [60]:
c=city_crime_merged_data[city_crime_merged_data.County == 'Alameda']
#city_crime_merged_data.loc[city_crime_merged_data['State']=='CA'].groupby(['County'])['RegionName'].count()

In [61]:
c.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson,TotalCrime,Crime_rate,County
2,Alameda,78613,148,2,7,61,78,"1,819",228,"1,245",346,18,3952,5027.0,Alameda
3,Albany,19723,34,1,6,16,11,605,95,447,63,0,1278,6480.0,Alameda
25,Berkeley,120387,530,1,44,330,155,"5,906","1,090","4,099",717,22,12894,10710.0,Alameda
80,Dublin,57148,68,0,5,17,46,997,115,758,124,1,2131,3729.0,Alameda
96,Fremont,232427,337,2,49,151,135,"4,371",913,"2,755",703,14,9430,4057.0,Alameda